<h1 class="title">
    <strong>Registro de {{title}}</strong>
</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="bg-[rgb(87,238,163)] text-xs text-black uppercase">
            <tr>
                @for(column of columns; track $index){
                    <th scope="col" class="bg-[rgb(87,238,163)] text-black px-6 py-3">
                        {{column}}
                    </th>
                }
                <th scope="col" class="bg-[rgb(87,238,163)] text-black px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @for(data of dataSource;track $index){
                <tr class="bg-white border-b">
                    @for(nombre of columns;track $index){
                        <td class="px-6 py-4 text-black">
                            {{data[nombre]}}
                        </td>
                    }
                    <td class="px-6 py-3 text-left action-buttons" width="auto">
                        <button class="font-medium text-blue-600 hover:bg-blue-600 hover:text-white pr-7 edit-button" mat-icon-button color="primary" (click)="onAccion('Editar', data)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="font-medium text-red-600 hover:bg-red-600 hover:text-white pr-7 delete-button" mat-icon-button color="warn" (click)="onAccion('Eliminar', data)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <mat-paginator [length]="200" [pageSize]="[10,7,20]" aria-label="Select page" showFirstLastButtons="">
    </mat-paginator>
</div>