<div class="buttons">
    <h1><strong>Modulo de {{titulo}}</strong></h1>
    <button mat-flat-button color="acceent" (click)="agregarHorario()">
        <mat-icon>add</mat-icon>
        Nuevo
    </button>
</div>
<div class="table-section">
    <app-table
    [Titulo]="titulo+'s'"
    [Columnas]="columnas"
    [Datos]="horarios"
    (accion)="onAction($event)">
    </app-table>
</div>
<div class="table-section">
    <tabla-reutilizable
    [Titulo]="titulo+'s'"
    [data]="horariosDatos"
    [columns]="tablaColumnas"
    (action)="onAction($event)"/>
</div>