.insured {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 32px; /* Ajustado para mayor separación entre campos */
  }
  
  .mat-form-field .mat-label {
    font-weight: bold;
  }