<div class="buttons">
    <h1><strong>Modulo de {{titulo}}</strong></h1>
    <button mat-flat-button color="acceent" (click)="agregarReporte()">
        <mat-icon>add</mat-icon>
        Nuevo
    </button>
</div>

<div class="table-section">
    <tabla-reutilizable
    [Titulo]="titulo+'s'"
    [data]="reportesDatos"
    [columns]="tablaColumnas"
    [isLoading]="isLoading"
    [isVisibleEditar]="isVisibleEditar"
    [isVisibleEliminar]="isVisibleEliminar"
    (action)="onAction($event)"/>
</div>