<mat-card class="register-card">
    <mat-card-title class="title">
        <strong>{{isEdit?'Editar':'Nuevo'}} {{titulo}}</strong>
    </mat-card-title>
    <mat-card-content class="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cedula</mat-label>
                <input matInput type="text" formControlName="cedula">
            </mat-form-field>
            <app-generic-form controlKey="datosUsuario"></app-generic-form>
            <section appearance="fill" class="checkbox-right">
                <mat-label>Estado</mat-label>
                <mat-checkbox formControlName="estado">
                    Activo
                </mat-checkbox>
            </section>
            <div class="form-buttons">
                <button mat-raised-button color="primary" type="submit">
                    {{isEdit?'Actualizar':'Guardar'}}
                </button>
                <button mat-raised-button color="warn" type="reset" (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
