<div class="buttons">
    <h1><strong>Modulo de {{title}}s de Herramientas</strong></h1>
    <button mat-flat-button color="acceent" (click)="agregarReserva()">
        <mat-icon>add</mat-icon>
        Nuevo
    </button>
</div>

<div class="table-section">
    <tabla-reutilizable
    [Titulo]="title+'s'"
    [data]="reservasDatos"
    [columns]="tablaColumnas"
    [isLoading]="isLoading"
    [isVisibleEditar]="isVisibleEditar"
    [isVisibleEliminar]="isVisibleEliminar"
    (action)="onAction($event)"/>
</div>
